.post {
    position: relative;
    width: 100%;
}

.postTitle {
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
}

.postContainer {
    background-color: white;
    position: relative;
    margin: auto;
    width: 90%;
    border: 1px black solid;
    border-radius: 10px;
    color: black;
}