.post {
  position: relative;
  width: 100%;
}

.postTitle {
  text-align: center;
  font-size: 2rem;
  padding-top: 10px;
}

.postContainer {
  background-color: white;
  position: relative;
  margin: auto;
  width: 90%;
  border: 1px black solid;
  border-radius: 10px;
  color: black;
}

.commentSection {
  position: relative;
  top: 50px;
  margin: auto;
  width: 95%;
}

.titleComment {
  font-size: 1.2rem;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.titleComment:hover {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 10px;
}

.commentsOnPost {
  display: flex;
  max-width: 100%;
  min-width: 100%;
}

.sendButton {
    position: relative;
    top: -20px;
    font-size: 17px;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}

.sendButton:hover {
    border-radius: 50%;
    color: green;
}

.post {

}