.showotherreports {
    position: relative;
    width: 100%;
}

.cmpTitle {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 2rem;
}

.reports {
    position: relative;
    margin: auto;
    width: 90%;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}


.images {
    width: 110px;
    height: 100px;
    aspect-ratio: 1/1;
}

.reportsDIV {
    position: relative;
    border-radius: 10px;
    border: 2px black solid;
    background-color: white;
    color: black;
    padding: 5px 5px 10px 5px;
    left: -5px;
}


.reportTitle {
    font-size: 1.9em;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.reportSubject {
    color: grey;
    font-size: 15px;
    padding-left: 10px;
}

.reportMessageDIV {
    border: 2px grey solid;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    top: 10px;
    margin-bottom: 10px;
}

.reportMessage {
    font-size: 17px;
    padding-top: 5px;
}

.commentInput {
    position: relative;
    top: 5px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.3);
    height: 30px;
    padding-left: 5px;
}


.reportMediaAttachement {
    display: grid;
    padding-top: 15px;
    padding-bottom: 10px;
    grid-template-columns: repeat(3, 110px);
    justify-content: center;
    column-gap: 5px;
}

.hrAfterEachReport {
    margin: auto;
    width: 90%;
}

.faToPost {
    float: right;
    font-size: 1.2rem;
}

.faToPost:hover {
    color: green;
    font-size: 1.5rem;
}

.faToPost:visited {
    color: blue;
}
