.resetPassword {
  width: 100%;
  height: 100vh;
}

.resetTitle {
  position: relative;
  top: 30px;
  text-align: center;
}

.newPassInputsBox {
  position: relative;
  background-color: black;
  border-radius: 10px;
  top: 100px;
  left: 20px;
  max-width: 350px;
  height: 210px;
}


.newPassInputs {
    position: relative;
    top: 20px;
    left: 50px;
}



.newPassInputs > input {
  border-radius: 8px;
  border: none;
  font-size: 15px;
  width: 70%;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.btnSubmitReset {
    position: relative;
    border-radius: 10px;
    left: 80px;
    top: 10px;
}

.btnSubmitReset > button {
    border: 2px grey solid;
    width: 160px;
}