.homepage {
    width: 100%;
    height: 100vh;
}

.logo {
    position: relative;
    margin: auto;
    max-width: 250px;
    width: 250px;
    height: 50px;
    top: 5%;
}

.logo-hp {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.actions-hp {
    position: relative;
    margin: auto;
    top: 40%;
}

.h2-hp {
    text-align: center;
}

.btnActions {
    max-width: 80%;
    position: relative;
    display: flex;
    padding-top: 4%;
    left: 15%;
}

.moreTxt {
    position: relative;
    margin: auto;
    padding-top: 10%;
}

.moreTxt > p {
    text-align: center;
}

.footer {
    background-color: black;
    position: relative;
    width: 100%;
    height: 70px;
    top: 51%;
}

.h3-f-hp {
    text-align: center;
    line-height: 60px;
}

.h3-f-hp > a {
    text-decoration: none;
    color: red;
}

.h3-f-hp > a:hover {
    cursor: pointer;
}

.alert {
    position: absolute;
    top: 5%;
    left: 15%;
}

.header {
    
}

.status {
    display: flex;
}