/* Below Button Styled Component */
.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .btn {
    width: 6.5em;
    height: 2.3em;
    margin: 1.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
}

@media (min-width: 1080px) and (max-width: 1439px) {
  .btn {
    width: 6.5em;
    height: 2.3em;
    margin: 1.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .btn {
    width: 6.5em;
    height: 2.3em;
    margin: 1.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
}

.btn:hover {
  color: black;
}

.btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  -webkit-transform: skewX(-45deg) scale(0, 1);
  -ms-transform: skewX(-45deg) scale(0, 1);
  transform: skewX(-45deg) scale(0, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover:after {
  -webkit-transform: skewX(-45deg) scale(1, 1);
  -ms-transform: skewX(-45deg) scale(1, 1);
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Alert PopUp Styling  */

.alertpopup {
  position: absolute;
  color: white;
  transition: ease-in-out 0.3s;
  background-color: grey;
  border-radius: 10px;
  margin: auto;
  width: 35vh;
  font-size: 0.9rem;
  left: 10px;
  z-index: 1;
}

.alertBox {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.alertTitle {
  padding-left: 5px;
  padding-bottom: 5px;
  border-bottom: 1px black solid;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
}

.alertMsg {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.alertHidden {
  opacity: 0;
  visibility: hidden;
}

/* Loader Spinner */

.loaderDiv {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.2);
}

.loaderSpin {
  margin: auto;
  width: 30px;
  padding-top: 310px;
  pointer-events: none;
}

.logoLoader {
  max-width: 100%;
  min-width: 100%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styled Button 2 Styling */

.btn2 {
  font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
  font-size: 1.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  border-radius: 0.4rem;
  font-weight: 600;
  padding: 0 1.2rem;
  color: #ddd;
  border: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  background: #000000;
}

.btn2:hover {
  background: #2b2a2a;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .btn2 {
    font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
    font-size: 2.2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    border-radius: 0.4rem;
    font-weight: 600;
    padding: 0 5rem;
    color: #ddd;
    border: none;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
    background: #000000;
    margin-bottom: 15px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .btn2 {
    font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
    font-size: 2.2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    border-radius: 0.4rem;
    font-weight: 600;
    padding: 0 5rem;
    color: #ddd;
    border: none;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
    background: #000000;
    margin-bottom: 15px;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .btn2 {
    font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
    font-size: 1.7rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    border-radius: 0.4rem;
    font-weight: 600;
    padding: 0 5rem;
    color: #ddd;
    border: none;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
    box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
    background: #000000;
    margin-bottom: 15px;
  }
}